<p-card styleClass="shadow-2 border-round">

  <!-- Header -->
  <!-- <ng-template pTemplate="header">
    <div class="p-3">
      <p-skeleton width="60%" height="1.2rem"></p-skeleton>
    </div>
  </ng-template> -->

  <!-- Content -->
  <div class="lines p-3">

    <!-- Main value -->
    <!-- <p-skeleton width="40%" height="2rem" styleClass="mb-3"></p-skeleton> -->

    <!-- Lines -->
    <p-skeleton width="80%" height="1rem" styleClass="mb-2"></p-skeleton>
    <p-skeleton width="70%" height="1rem" styleClass="mb-3"></p-skeleton>
    <p-skeleton width="100%" height="1rem" styleClass="mb-3"></p-skeleton>

    <!-- Action -->
    <!-- <div class="flex justify-content-end">
      <p-skeleton shape="circle" size="1.5rem"></p-skeleton>
    </div> -->

  </div>

</p-card>